.formulario, .formulario2 {
    background-color: #fff3ef;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.formulario label, .formulario2 label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}

.formulario input, .formulario textarea, .formulario2 input, .formulario2 textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.formulario input[type="radio"], .formulario input[type="checkbox"], .formulario2 input[type="radio"], .formulario2 input[type="checkbox"] {
    margin-right: 10px;
    width: auto;
}

.formulario2 input[type="file"] {
    margin-bottom: 20px;
}

.formulario2 p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.formulario button, .formulario2 button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #F77712;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button[type="reset"], .formulario2 button[type="reset"] {
    background-color: #ccc;
    margin-right: 10px;
}
