.info {

    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 80px 100px;
}

.cubos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info img{
    width: 300px;
    height: 300px;
}


.info div {
    padding: 40px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 10px;
    max-width: 300px;
    text-align: left;
}



.info h4 {
    font-weight: 700;
    font-size: 30px;
    color: var(--site-color-darker);
    
}

.info p {
    font-weight: 400;
    font-size: 20px;
    color: #5e5c5c;
}
.info #btn1{
    border: 1px solid #f18e47;
    background: #f18e47;
    color: var(--site-color-darker);
    padding: 10px;
    cursor: pointer;
    min-width: min-content;
    max-width: 30%;
    border-radius: 5px;
}

.info #btn1:hover{
    border: 1px solid var(--site-color-background);
    background: var(--site-color-background);
    color: #f18e47;
}


